<h3>Experience</h3>
<div class="card mb-3" >
  <div class="row g-0">

    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{myData.position}}</h5>
        <p class="card-text">{{myData.role}}</p>
        <p class="card-text"><small class="text-body-secondary">{{myData.skills}}</small></p>
      </div>
    </div>
    <div class="col-md-4 text-end">
      <p class="card-text   mb-3"><small class="text-body-secondary">{{myData.startDate}}</small>-<small class="text-body-secondary">{{myData.endDate}}</small></p>
      <h3>{{myData.company}}</h3>
      <p class="card-text   mb-3"><small class="text-body-secondary">{{myData.location}}</small></p>
    </div>

  </div>
</div>
