<!-- Main Content-->
<div class="container">
  <div class="row">
    <div class="col-md-4">
     <app-profile [profile]="myData.profile"></app-profile>
     <app-social-media></app-social-media>
      <hr>
      <div  class="hide-layout-sm">
        <h3>Education</h3>
        <div *ngFor="let edu of myData.education">
          <app-education [education]="edu"></app-education>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <app-about-me [about]="myData.profile"></app-about-me>
      <diV class="hide-layout-md">
        <h3>Education</h3>
        <div *ngFor="let edu of myData.education">
          <app-education [education]="edu"></app-education>
        </div>

      </diV>

      <div class="container">
        <div class="row gx-xxl-5 gy-xxl-2">
          <h3>Experience</h3>
            <div class="col-xxl-6" *ngFor="let data of myData.experience">
              <app-experience [exp]="data"></app-experience>
            </div>
        </div>
      </div>

    </div>
  </div>


</div>
<!--End Main Content-->
