@media (max-width:765px) {
  .hide-layout-sm{
    display: none;
  }
}

@media (min-width:765px) {
  .hide-layout-md{
    display: none;
  }
}

.profile-image {
  width: 200px;
}

.social-media-links {
  display: inline-block;
  margin-right: 10px;
  width: 30px;
  height: 30px;
}
