<!-- Main Content-->
<div class="container">
  <div class="row">
    <div class="col-md-4">

     <app-profile></app-profile>

     <app-social-media></app-social-media>

      <hr>

    <div class="hide-layout-sm">
      <h3>Education</h3>
      <ul>
        <li>{{myData.education[0].organizationName}} - {{myData.education[0].certificateName}} ({{myData.education[0].startDate}}-{{myData.education[0].endDate}})</li>

        <li>{{myData.education[1].organizationName}} - {{myData.education[1].certificateName}} ({{myData.education[1].startDate}}-{{myData.education[1].endDate}})</li>

      </ul>
    </div>

    </div>
    <div class="col-md-8">

      <h3>About Me</h3>
      <p>{{myData.profile.aboutMe}}</p>

      <diV class="hide-layout-md">
        <h3>Education</h3>
        <ul>
          <li>{{myData.education[0].organizationName}} - {{myData.education[0].certificateName}} ({{myData.education[0].startDate}}-{{myData.education[0].endDate}})</li>

          <li>{{myData.education[1].organizationName}} - {{myData.education[1].certificateName}} ({{myData.education[1].startDate}}-{{myData.education[1].endDate}})</li>
        </ul>
      </diV>


      <app-experience></app-experience>
    </div>
  </div>
</div>
<!--End Main Content-->
